<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quoting Dojo</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="./style.css">
    </head>
    <body>
        <div class="blue-box">
            <form  action="/add_quote" method="POST">
                <h2>Welcome to Quoting Dojo</h2>
                <div class="row">
                    <span>Your name:</span>
                    <input type="text" name="name">
                </div>
                <div class="row">
                    <span>Your quote:</span>
                    <textarea name="quote"></textarea>
                </div>
                <div class="row">
                    <input class="add btn" type="submit" value="Add my quote!">
                </div>
                <% if(messages.invalid_quote) { %>
                    <% for (var x of messages.invalid_quote) { %>
                    <h3><%= x %></h3>
                    <% } %>
                <% } %>
            </form>
            <a href="/quotes"><button class="btn skip">Skip to Quotes!</button></a>
        </div>
    </body>
</html>