<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quoting Dojo</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="./style.css">
    </head>
    <body>
        <a href="/">Back</a>
        <div class="blue-box">
            <h2>Here are the awesome quotes!</h2>
            <% for (var x in quotes) { %>
                <div class="row">
                    <p class="q">"<%= quotes[x].quote %>"</p>
                    <p class="n">- <%= quotes[x].name %> at <%= quotes[x].createdAt.toDateString() %></p>
                </div>
            <% } %>
        </div>
    </body>
</html>